// -----------------------------------------------------------------------------
// This file contains all styles related to the Scroll Top Btn  of the site/application.
// -----------------------------------------------------------------------------


@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.scrolTopBtn {
    background-color: $primary-color;
    color: $white-color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    transform: translateX(-50%);
    left: 96%;
    bottom: 5%;
    z-index: 80;
    display: none;
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    @include meduim {
        width: 30px;
        height: 30px;
        font-size: 14px;
        left: 94%;
    }
    @include small {
        left: 92%;
    }
}